<%- include('header') %>

<div class="w3l-breadcrumbs">
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">Genre</span>
        </div>
    </nav>
</div>
<!--//breadcrumbs -->
<!--/genre -->
<!--grids-sec1-->
<section class="w3l-grids">
    <div class="grids-main py-4">
        <div class="container py-lg-4">
            <div class="headerhny-title">
                <h3 class="hny-title">Popular Movies</h3>
            </div>
            <div class="owl-four row justify-content-center owl-theme">
                <div class="item col-lg-6 vhny-grid">
                    <div class="box16">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="/images/banner1.jpg" alt="">

                            </figure>
                            <div class="box-content">
                                <h3 class="title">Rocketman</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="box16 mt-4">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="/images/banner2.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Frozen 2</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="item col-lg-6 vhny-grid">
                    <div class="box16">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="/images/banner3.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Doctor Sleep</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="box16 mt-4">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="/images/banner4.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Toy story 4</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--grids-sec2-->
<section class="w3l-grids">
    <div class="grids-main py-4">
        <div class="container py-lg-4">
            <div class="headerhny-title">
                <h3 class="hny-title">Must to watch</h3>
            </div>
            <div class="owl-two row justify-content-center owl-theme">
                <div class="item col-lg-4">
                    <div class="two-gridshny-grids">
                        <div class="two-gridshny-left">
                            <div class="box16 mb-4">
                                <a href="#">
                                    <figure>
                                        <img class="img-fluid" src="/images/1.jpg" alt="">
                                    </figure>
                                    <div class="box-content">
                                        <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                            </span>

                                            <span class="post fa fa-heart text-right"></span>
                                        </h4>
                                    </div>
                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="two-gridshny-right">
                            <h3> <a class="title-gd mt-0" href="#">That’s what I want to show you
                                    how to do here.</a></h3>

                        </div>
                    </div>
                </div>
                <div class="item col-lg-4 vhny-grid">
                    <div class="two-gridshny-grids">
                        <div class="two-gridshny-left">
                            <div class="box16 mb-4">
                                <a href="#">
                                    <figure>
                                        <img class="img-fluid" src="/images/2.jpg" alt="">
                                    </figure>
                                    <div class="box-content">
                                        <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                            </span>

                                            <span class="post fa fa-heart text-right"></span>
                                        </h4>
                                    </div>
                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="two-gridshny-right">
                            <h3> <a class="title-gd mt-0" href="#">That’s what I want to show you
                                    how to do here.</a></h3>

                        </div>
                    </div>
                </div>
                <div class="item col-lg-4 vhny-grid">
                    <div class="two-gridshny-grids">
                        <div class="two-gridshny-left">
                            <div class="box16 mb-4">
                                <a href="#">
                                    <figure>
                                        <img class="img-fluid" src="/images/3.jpg" alt="">
                                    </figure>
                                    <div class="box-content">
                                        <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                            </span>

                                            <span class="post fa fa-heart text-right"></span>
                                        </h4>
                                    </div>
                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="two-gridshny-right">
                            <h3> <a class="title-gd mt-0" href="#">That’s what I want to show you
                                    how to do here.</a></h3>

                        </div>
                    </div>
                </div>
                <div class="item col-lg-4 vhny-grid">
                    <div class="two-gridshny-grids">
                        <div class="two-gridshny-left">
                            <div class="box16 mb-4">
                                <a href="#">
                                    <figure>
                                        <img class="img-fluid" src="/images/4.jpg" alt="">
                                    </figure>
                                    <div class="box-content">
                                        <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                            </span>

                                            <span class="post fa fa-heart text-right"></span>
                                        </h4>
                                    </div>
                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="two-gridshny-right">
                            <h3> <a class="title-gd mt-0" href="#">That’s what I want to show you
                                    how to do here.</a></h3>

                        </div>
                    </div>
                </div>
                <div class="item col-lg-4 vhny-grid">
                    <div class="two-gridshny-grids">
                        <div class="two-gridshny-left">
                            <div class="box16 mb-4">
                                <a href="#">
                                    <figure>
                                        <img class="img-fluid" src="/images/5.jpg" alt="">
                                    </figure>
                                    <div class="box-content">
                                        <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

                                            </span>

                                            <span class="post fa fa-heart text-right"></span>
                                        </h4>
                                    </div>
                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="two-gridshny-right">
                            <h3> <a class="title-gd mt-0" href="#">That’s what I want to show you
                                    how to do here.</a></h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer') %>