<link rel="stylesheet" href="/admin_panel/css/style.css">
<link rel="stylesheet" href="/admin_panel/css/plugins/bootstrap.min.css">
<link rel="stylesheet" href="/admin_panel/css/plugins/perfect-scrollbar.css">
<link rel="stylesheet" href="/admin_panel/css/plugins/prism-coy.css">
<link rel="stylesheet" href="/admin_panel/css/plugins/animate.min.css">
<script src="/admin_panel/js/vendor-all.min.js"></script>
<script src="/admin_panel/js/plugins/bootstrap.min.js"></script>
<script src="/admin_panel/js/ripple.js"></script>
<script src="/admin_panel/js/pcoded.min.js"></script>
<style>
	.pcoded-navbar {
		z-index: 1030!important;
		margin-top: 0!important;
	}
	.m-header{
		margin-left: 160px;
	}
</style>
<body>
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar " style="height: auto;">
		<div class="navbar-wrapper ">
			<div class="navbar-content" >
			
				
				<ul class="nav pcoded-inner-navbar mt-3">

					<li class="nav-item pcoded-menu-caption">
						<label>Movie Details</label>
					</li>
					<li class="nav-item">
						<a href="/movie_details/add_movie_detail" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Add Movie Details</span></a>
					</li>
					<li class="nav-item">
						<a href="/movie_details/view_movie_detail" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">View Movie Details</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption mt-0">
						<label>Movie Others</label>
					</li>
					<li class="nav-item">
						<a href="/movie_others/add_movie_other" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Add Movie Others</span></a>
					</li>
					<li class="nav-item">
						<a href="/movie_others/view_movie_other" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">View Movie Others</span></a>
					</li>


					<li class="nav-item pcoded-menu-caption mt-0">
						<label>Mall</label>
					</li>
					<li class="nav-item">
						<a href="/mall/add_mall" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Add Mall</span></a>
					</li>
					<li class="nav-item">
						<a href="/mall/view_mall" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">View Mall</span></a>
					</li>


					<li class="nav-item pcoded-menu-caption mt-0">
						<label>Movie Mall</label>
					</li>
					<li class="nav-item">
						<a href="/movie_mall/add_movie_mall" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Add Movie Mall</span></a>
					</li>
					<li class="nav-item">
						<a href="/movie_mall/view_movie_mall" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">View Movie Mall</span></a>
					</li>



					<li class="nav-item pcoded-menu-caption mt-0">
						<label>Book Movie</label>
					</li>
					<li class="nav-item">
						<a href="/movie_plan/add_movie_plan" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Add Movie Plan</span></a>
					</li>
					<li class="nav-item">
						<a href="/movie_plan/view_movie_plan" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">View Movie Plan</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption mt-0">
						<label>Users</label>
					</li>
					<li class="nav-item">
						<a href="/user/view_user" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">View User</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption mt-0">
						<label>Bills</label>
					</li>
					<li class="nav-item">
						<a href="/bill/view_bill" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">View Bill</span></a>
					</li>

					
				</ul>
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light" style="background-color: lightblue;">
				<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
					<a href="/admin_panel" class="b-brand">
						<!-- ========   change your logo hear   ============ -->
						<img src="/admin_panel/images/logo.png" alt="" class="logo">
						<img src="/admin_panel/images/logo-icon.png" alt="" class="logo-thumb">
					</a>
					<a href="#!" class="mob-toggler">
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li>
							<div class="dropdown drp-user" style="margin-top: 15px;">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="feather icon-user"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right profile-notification">
									<div class="pro-head">
										<img src="/admin_panel/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
										<span></span>
										<a href="/logOut" class="dud-logout" title="Logout">
											<i class="feather icon-log-out"></i>
										</a>
									</div>
									<ul class="pro-body">
										<li><a href="#" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
										<li><a href="/changePass" class="dropdown-item"><i class="feather icon-mail"></i>Change Password</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
	</header>
	
	