<!DOCTYPE html>
<html lang="en">
<head>

	<title>Ablepro v8.0 bootstrap admin template by Phoenixcoded</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="/admin_panel/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="/admin_panel/css/style.css">
	
	<style>
		body{
			overflow: hidden;
		}
	</style>


</head>

<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<h4 class="mb-3 f-w-400">Enter Your Email</h4>
						<form action="/checkEmail" method="post">
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Email Address">
                            </div>
                            <input type="submit" name="submit" class="btn btn-block btn-primary mb-4" value="Next">
                        </form>
						<!-- <p class="mb-2 text-muted">Forgot password? <a href="/lostPass" class="f-w-400">Reset</a></p> -->
						<p class="mb-0 text-muted">Don’t have an account? <a href="/login" class="f-w-400">Signin</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/admin_panel/js/vendor-all.min.js"></script>
<script src="/admin_panel/js/plugins/bootstrap.min.js"></script>
<script src="/admin_panel/js/ripple.js"></script>
<script src="/admin_panel/js/pcoded.min.js"></script>

</body>
</html>
